<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node js landing page</title>
</head>

<body>
    <h1>this is the landing page of node js</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis illo aliquid voluptates odit quia, nihil maiores
        voluptas incidunt, possimus quos, similique error obcaecati doloremque sunt. Minus perspiciatis odit veritatis
        aperiam quia fugit totam a, ut ipsum? Rem aliquid enim minus eaque! Perspiciatis quod iure eum, dolor
        perferendis in ut fuga!</p>
    <table>
        <thead>
            <tr>
                <td>SL</td>
                <td>Username</td>
                <td>Id </td>
                <td>Salaries</td>
                <td>travel allowance</td>
                <td>Date</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>Arman</td>
                <td>230603</td>
                <td>50000</td>
                <td>5000</td>
                <td>22-02-2026</td>
            </tr>
        </tbody>
    </table>
</body>

</html>